{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">¿Seguro de borrar el servicio?</h1>

    <p class="mb-4">¿Se borrara el servicio permanentemente, estas seguro de borrarlo?</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-danger">Sí, seguro</button>
            <a href="{% url 'Dashboard' %}" class="btn btn-secondary">Atrás</a>
        </div>
    </form>
</div>
{% endblock %}
