{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Editar Caso</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="TipoCaso" class="form-label">Tipo de caso</label>
            <input type="text" class="form-control" name="TipoCaso" value="{{DatosFormulario.TipoCaso}}" id="TipoCaso" required>
        </div>
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Resumen del Problema</label>
            <textarea class="form-control" name="Descripcion" id="Descripcion" rows="4" required>{{DatosFormulario.Descripcion}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
